body{
    margin: 0;
    padding: 0;
    color: #222;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color: tomato;
}

label{
    display: block;
    cursor:pointer;
}

.hidden{
    display: none;
}

ul{
    padding:0;
    margin:0;
    list-style: none;
}
